@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--Light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-box {
  background-color: var(--White);
  width: 200px;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

#qr-code {
  border-radius: 5%;
  width: 100%;
}

.bold-text {
  color: var(--Dark-blue);
  font-weight: 700;
}
.normal-text {
  color: var(--Grayish-blue);
  font-size: 12px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
